
@using GG.Core;

@{
    ViewData["Title"] = "Likes";

    List<LikedPackage> myLikes = ViewBag.MyLikes as List<LikedPackage>;
}
@* Global Gaways Inc
Autor: Fernando Jose Sotelo Romero
Fecha: 07-11-2021
ToDo: Muestra los paquetes/viajes favoritos del usuario.
*@
 <section class="popular" id="popular">
        <h1 class="heading"> Tu carrito</h1>
    
        <div class="box-container">

        @foreach(var liked in myLikes)
        {
            
                <div class="box">
                <img src="@liked.IdTravelPackageNavigation.PathingImage" alt="">
                <h3>@liked.IdTravelPackageNavigation.NamePackage</h3>
                <span>$@liked.IdTravelPackageNavigation.Price dlls</span>
                <div class="rowC">
                    <div class="col-6">
                        <button class="btnFav">
                            Quitar de favoritos
                        </button>
                    </div>
                    <div class="col-6">
                        <button class="btnFav">
                            Agregar a carrito
                        </button>
                    </div>
                </div>
            </div>

        }

           
        </div>
    
    </section>