<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Getaways Oficial Site</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <!-- mis estilos -->
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link href="~/css/site.css" rel="stylesheet"/>
    <link href="~/custom/Ojo.css" rel="stylesheet"/>
    <link href="~/custom/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/custom/shop.css" rel="stylesheet"/>

</head>
<body>
    @* Global Gaways Inc
    Autor: Fernando Jose Sotelo Romero
    Fecha: 02-11-2021
    ToDo: Muestra el navegador que estara en la mayoria de las paginas principales con el cual podras navegar entre pagina y pagina
    *@
    <header>
        <a href="#" class="logo">Global Getaways Inc.</a>
        <nav class="navbar">
            <a  asp-controller="Home" asp-action="Index">Inicio</a>
            <a href="#popular">Viajes</a>
            <a href="#about">Acerca de Nosotros</a>
            <a href="#paquetes">Paquetes</a>
            <a href="#review">Review</a>
            <a asp-area="Identity" asp-page="/Account/Account" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Login</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a asp-controller="Likes" asp-action="Index" class="fas fa-heart"></a>
            <a asp-controller="Shopping" asp-action="Index" class="fas fa-shopping-cart"></a>
        </div>
        @await Html.PartialAsync("_LoginPartial")
        @*<partial name="_LoginPartial/>*@

    </header>
    

    <div class="content">
        <main role="main">
             @RenderBody()
        </main>
        
    </div>
         
    
   
    @* Global Gaways Inc
    Autor: Norma Antonio Altamirano
    Fecha: 05-11-2021
    ToDo: Muestra el pie de página, se anexan las redes sociales de la compañía
    *@

    <section class="footer">

        <div class="social">
            <a href="https://www.instagram.com/global_getaways_inc/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/GetawaysInc"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Global-Getaways-Inc-104345958737333"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/global-getaways-inco"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <ul>
            <li>
               <a  asp-controller="Home" asp-action="Index">Inicio</a>
            </li>
            <li>
                <a href="#popular">Viajes</a>
            </li>
            <li>
                <a href="#about">Acerca de Nosotros</a>
            </li>
            <li>
                <a href="#paquetes">Paquetes</a>
            </li>
            <li>
                <a href="#review">Review</a>
            </li>
        </ul>

        <p class="correo">
            GgetawaysInc@hotmail.com
        </p>

    </section>

    <!-- FOOTER SECTION ENDS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->

    <script src="~/custom/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
