<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Getaways Oficial Site</title>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <!-- mis estilos -->

    <link href="~/custom/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>

    <header>

        <a href="#" class="logo">Global Getaways Inc.</a>

        <nav class="navbar">
            <a class="active" href="index.html">Inicio</a>
            <a href="#popular">Viajes</a>
            <a href="#about">Acerca de Nosotros</a>
            <a href="#paquetes">Paquetes</a>
            <a href="#review">Review</a>
            <a asp-area="Identity" asp-page="/Account/Account">Login</a>
        </nav>

        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
            <a href="favoritos.html" class="fas fa-heart"></a>
            <a href="carrito.html" class="fas fa-shopping-cart"></a>
        </div>

    </header>


    @RenderBody()

    <section class="footer">

        <div class="social">
            <a href="https://www.instagram.com/global_getaways_inc/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/GetawaysInc"><i class="fab fa-twitter"></i></a>
            <a href="https://www.facebook.com/Global-Getaways-Inc-104345958737333"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/global-getaways-inco"><i class="fab fa-linkedin-in"></i></a>
        </div>

        <ul>
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="#popular">Viajes</a>
            </li>
            <li>
                <a href="#about">Acerca de Nosotros</a>
            </li>
            <li>
                <a href="#paquetes">Paquetes</a>
            </li>
            <li>
                <a href="#review">Review</a>
            </li>
        </ul>

        <p class="correo">
            GgetawaysInc@hotmail.com
        </p>

    </section>

    <!-- FOOTER SECTION ENDS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->

    <script src="~/custom/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
